# Docker
alias d='docker $*'
alias dps='docker ps'
alias d-c='docker-compose $*'

# Git
alias ga='git add'
alias gs='git status'

# Colorize the ls output
alias ls='ls --color=auto'

# Easy long listing format
alias la='ls -la'

# Shortcut for editing with sudo
alias svim='sudo vim'

# Ask nicely
alias please='sudo'

# Shortcut for re-sourcing
alias ssource='source ~/.zshrc'

# Easy tailing
alias t='tail -f'

# Find files
alias fd='find . -type d -name'
alias ff='find . -type f -name'

# Ask before overwriting
alias cp='cp -i'

# Safely move files to trash instead of permanently deleting
alias rm='trash'

# Shortcut for grepping
alias G='| grep'
