# Docker
alias d='docker $*'
alias dps='docker ps'
alias d-c='docker-compose $*'

# Git
alias ga='git add'
alias gs='git status'

# Colorize the ls output
alias ls='ls --color=auto'

# Easy long listing format
alias la='ls -la'

# Shortcut for editing with sudo
alias svim='sudo vim'

# Ask nicely
alias please='sudo'

# Shortcut for re-sourcing
alias ssource='source ~/.zshrc'

# Easy tailing
alias t='tail -f'

# Find files
alias fd='find . -type d -name'
alias ff='find . -type f -name'

# Ask before overwriting
alias cp='cp -i'

# Ask before removing
alias rm='rm -i'

# Shortcut for grepping
alias G='| grep'

# Open files easily
alias o='xdg-open'

# Open editor
alias e="$EDITOR"

# Build baktus from anywhere
alias bb='current_dir=$PWD; cd ~/dev/baktus/; catkin_make; cd $current_dir;'

# Source baktus setup
alias sb='source  ~/dev/baktus/devel.zsh'
